<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>minmeng-manager</display-name>

	<listener>
		<listener-class>org.fixwork.framework.FixworkListener</listener-class>
	</listener>
	<context-param>
		<description>配置文件</description>
		<param-name>works</param-name>
		<param-value>/WEB-INF/works.xml</param-value>
	</context-param>	  
	<context-param>
		<description>输入SQL日志</description>
		<param-name>sqlLog</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>输入uriLog日志</description>
		<param-name>uriLog</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<filter>
		<display-name>DispatcherFilter</display-name>
		<filter-name>DispatcherFilter</filter-name>
		<filter-class>org.fixwork.framework.dispatcher.DispatcherFilter</filter-class>
		<init-param>
			<description>拦截的URI后缀</description>
			<param-name>subfixes</param-name>
			<param-value>.jsp,.do</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DispatcherFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	
	<!-- 
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.fixwork.framework.authorization.AuthFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/authorization.xml</param-value>
		</init-param>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>enableUpdate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>enableActiveUpdate</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>authLog</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page> -->
	
</web-app>