<?xml version="1.0" encoding="UTF-8"?>

<Server port="8003" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  
  <Service name="Catalina1">
    <Connector port="9301" protocol="AJP/1.3" redirectPort="8241" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="/data/projects/minmeng-qiandongnan/manager"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
		<Context path="" docBase="ROOT" reloadable="true"/>	
      </Host>
    </Engine>
  </Service>

  <Service name="Catalina2">
    <Connector port="9302" protocol="AJP/1.3" redirectPort="8341" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="/data/projects/minmeng-qiandongnan/web"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
		<Context path="" docBase="ROOT" reloadable="true"/>	
      </Host>
    </Engine>
  </Service>
  
  <Service name="Catalina3">
    <Connector port="9303" protocol="AJP/1.3" redirectPort="8243" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="/data/projects/minmeng-qianxinan/manager"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
		<Context path="" docBase="ROOT" reloadable="true"/>	
      </Host>
    </Engine>
  </Service>

  <Service name="Catalina4">
    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector port="9304" protocol="AJP/1.3" redirectPort="8244" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="/data/projects/minmeng-qianxinan/web"
            unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
		<Context path="" docBase="ROOT" reloadable="true"/>	
      </Host>
    </Engine>
  </Service>
</Server>
